
/*  Apply a natural box layout model to all elements
   ========================================================================== */
*, *:before, *:after {
  box-sizing: border-box;
}

img {
    max-width: 100%;
    height:auto;
}
picture{
    display: block;
    line-height: 0;
}

strong {
    font-weight: 500;
}

button, input, optgroup, select, textarea {
    padding: 0;
    font-family: inherit;
    border: none;
    line-height: inherit;
    background: none;
}

button{
    cursor:pointer;
}

svg {
    fill: currentColor;
}

button:focus {outline:0 !important;}

a,button{
    cursor: pointer;
    pointer-events: all;
}

body,html{
    margin:0;
    padding:0;
    border:0;
}
body{
    width:100%;
    min-width: 320px;
    -webkit-overflow-scrolling: touch;
    background-color: white;
}