
/* Base
   ========================================================================== */
html {
    font-size: 62.5%; /* 10px */
}

body {
    font-family: $font-normal;
    font-size: 1.6rem;
    line-height: 1.4;
    min-width: 320px;
    font-weight: 400;
    color:$color_main
}

h1,h2,h3,h4,h5,h6{
    font-family: $font_headers;
}

/* Global Typography
   ========================================================================== */

button,
a {
    -webkit-touch-callout: none;
    text-decoration: none;
    color: inherit;
    // transition: all $transition_speed;

    @media (pointer: fine),(-ms-high-contrast:none) {
        &:hover {
            text-decoration: none;
            // transition: all $transition_speed_over;
            //@include media(">t") {
                color: inherit;
            //}
        }
    }
}

strong{
    font-weight: 600;
}
