
/* Colors
========================================================================== */
$color_main:         rgb(26, 26, 26);
$color_accent:       #72c52e;
$color_buttons:       #2e8ec5;

/* Fonts
========================================================================== */

$font_normal: 'Open Sans', sans-serif;
$font_headers: 'Montserrat', sans-serif;

/* Animations
========================================================================== */
        $transition_speed:      300ms;
        $transition_speed_over:      500ms;

/* Sizes
========================================================================== */
        $gutter:           5%;
        $size_inner:   160rem;

/* Breakpoints
========================================================================== */
        $breakpoint_laptop: 1440px;
        $breakpoint_laptop_small: 1280px;
        $breakpoint_tablet: 1024px;
        $breakpoint_tablet_middle: 930px;
        $breakpoint_tablet_small: 768px;
        $breakpoint_mobile: 670px;
        $breakpoint_mobile_small: 425px;
        $breakpoint_mobile_thin: 370px;
        $max-breakpoint: 1920;

        $breakpoints: (
                l: $breakpoint_laptop,
                l-s: $breakpoint_laptop_small,
                t: $breakpoint_tablet,
                t-m: $breakpoint_tablet_middle,
                t-s: $breakpoint_tablet_small,
                m: $breakpoint_mobile,
                m-s: $breakpoint_mobile_small,
                m-t: $breakpoint_mobile_thin
        );

        $media-expressions: (
                'mouse': '(pointer: fine)',
                'landscape': '(orientation: landscape)',
                'portrait': '(orientation: portrait)',
        );

