
{% extends "pages/projectOne/form-base.html.twig" %}
{% dump(data) %}
{% block content %}
<section class="section section--default section--form">
    <div class="inner">
        <form class="form form--register js-form" method="POST" >
            <div class="swiper-wrapper">
                <div class="field-group field-group--100 swiper-slide js-group">
                    <span class="field-group__title">Podstawowe dane</span>
                    <label class="field field--default{{ data.errors.nameError ? " is-error" : "" }}" >
                        <span class="label">Imię <span class="small">(wymagane)</span></span>
                        <input name="name" type="text" value="{{data.name ? data.name:""}}" required minlength="3">
                        <span class="error-msg">{{data.errors.nameErrorMsg | raw}}</span>
                    </label>
                    <label class="field field--default{{ data.errors.surnameError ? " is-error" : "" }}"  >
                        <span class="label">Nazwisko <span class="small">(wymagane)</span></span>
                        <input name="surname" type="text" value="{{data.surname ? data.surname:""}}" required minlength="3">
                        <span class="error-msg">{{data.errors.surnameErrorMsg | raw}}</span>
                    </label>
                    <label class="field field--default{{ data.errors.emailError ? " is-error" : "" }}"  >
                        <span class="label">E-mail <span class="small">(wymagane)</span></span>
                        <input name="email" type="email" value="{{data.email ? data.email:""}}" required pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$">
                        <span class="error-msg">{{data.errors.emailErrorMsg | raw}}</span>
                    </label>
                    <label class="field field--default{{ data.errors.loginError ? " is-error" : "" }}" >
                        <span class="label">Login <span class="small" >(wymagane)</span></span>
                        <input name="login" type="text" value="{{data.login ? data.login:""}}" required minlength="3">
                        <span class="error-msg">{{data.errors.loginErrorMsg | raw}}</span>
                    </label>
                    <label class="field field--default{{ data.errors.passwordError ? " is-error" : "" }}"  >
                        <span class="label">Hasło <span class="small">(minimum 8 znaków, cyfry, duze, małe litery i znak specjalny)</span></span>
                        <input name="password" type="password" value="{{data.plainPassword ? data.plainPassword:""}}" required pattern="^(?=.*[A-Z]{1,})(?=.*[!@#$%^&*]{1,})(?=.*[0-9]{1,})(?=.*[a-z]{1,})([^\s]*){8,}$">
                        <span class="error-msg">{{data.errors.passwordErrorMsg | raw}}</span>
                    </label>
                    <label class="field field--default{{ data.errors.passwordRepeatError ? " is-error" : "" }}" >
                        <span class="label">Powtórz hasło<span class="small">(wymagane)</span></span>
                        <input name="passwordrepeat" type="password" value="{{data.plainPassword2 ? data.plainPassword2:""}}" >
                        <span class="error-msg">{{data.errors.passwordRepeatErrorMsg | raw}}</span>
                    </label>
                    <div class="actions">
                        <button class="btn btn--rounded btn--blue js-next">Dalej ></button>
                    </div>
                </div>
                <div class="field-group field-group--100 swiper-slide js-group" >
                    <span class="field-group__title">Adres zamieszkania</span>
                    <label class="field field--default{{ data.errors.streetError ? " is-error" : "" }}" >
                        <span class="label">Ulica <span class="small">(wymagane)</span></span>
                        <input name="street" type="text" value="{{data.street ? data.street:""}}" required minlength="3">
                        <span class="error-msg">{{data.errors.streetErrorMsg | raw}}</span>
                    </label>
                    <label class="field field--default{{ data.errors.houseNumberError ? " is-error" : "" }}" >
                        <span class="label">Nr domu <span class="small">(wymagane)</span></span>
                        <input name="housenumber" type="text" value="{{data.houseNumber ? data.houseNumber:""}}" required>
                        <span class="error-msg">{{data.errors.houseNumberErrorMsg | raw}}</span>
                    </label>
                    <label class="field field--default{{ data.errors.apartmentNumberError ? " is-error" : "" }}" >
                        <span class="label">Nr mieszkania</span>
                        <input name="apartmentnumber" type="text" value="{{data.apartmentNumber ? data.apartmentNumber:""}}">
                        <span class="error-msg">{{data.errors.apartmentNumberErrorMsg | raw}}</span>
                    </label>
                    <label class="field field--default{{ data.errors.postCodeError ? " is-error" : "" }}"  >
                        <span class="label">Kod pocztowy <span class="small">(wymagane format XX-XXX)</span></span>
                        <input name="postcode"  type="text" value="{{data.postCode ? data.postCode:""}}" required pattern="[0-9]{2}-[0-9]{3}">
                        <span class="error-msg">{{data.errors.postCodeErrorMsg | raw}}</span>
                    </label>
                    <label class="field field--default{{ data.errors.cityError ? " is-error" : "" }}" >
                        <span class="label">Miejscowość <span class="small">(wymagane)</span></span>
                        <input name="city"  type="text" value="{{data.city ? data.city:""}}" required  minlength="3">
                        <span class="error-msg">{{data.errors.cityErrorMsg | raw}}</span>
                    </label>
                    <div class="actions">
                        <button class="btn btn--rounded btn--blue js-prev">< Wstecz</button>
                        <button class="btn btn--rounded btn--blue js-next">Dalej ></button>
                    </div>
                </div>
                <div class="field-group field-group--100 swiper-slide js-group ">
                    <span class="field-group__title">Wykształcenie i zainteresowania</span>
                    <label class="field field--select{{ data.errors.educationError ? " is-error" : "" }}">
                        <span class="label">Wykształcenie <span class="small">(wymagane)</span></span>
                        <select name="education" value="{{data.education ? data.education:""}}" required>
                            <option value="">Wybierz...</option>
                            <option value="0" {{ data.education == "0" ? "selected" : "" }}>Podstawowe</option>
                            <option value="1" {{ data.education == "1" ? "selected" : "" }}>Średnie</option>
                            <option value="2" {{ data.education == "2" ? "selected" : "" }}>Wyższe</option>
                        </select>
                        <span class="error-msg">{{data.errors.educationErrorMsg | raw}}</span>
                    </label>
                    <div>
                    
                    <div class="field-group {{ data.errors.interestsError ? " is-error" : "" }}">
                        <span class="label">Zainteresowania<span class="small">(zaznacz conajmniej 1)</span></span>
                        <span class="error-msg">{{data.errors.interestsErrorMsg | raw}}</span>
                        {% set cb = data.interests | split(',') %}
                        <label class="field field--checkbox">
                            <input name="interests[]" type="checkbox" value="Film" {{ "Film" in cb ? "checked" : "" }}>
                            <div class="indicator"></div>
                            <span class="label">Film</span>
                        </label>
                        <label class="field field--checkbox">
                            <input name="interests[]" type="checkbox" value="Podróże" {{ "Podróże" in cb ? "checked" : "" }}>
                            <div class="indicator"></div>
                            <span class="label">Podróże</span>
                        </label>
                        <label class="field field--checkbox">
                            <input name="interests[]" type="checkbox" value="Modelarstwo" {{ "Modelarstwo" in cb ? "checked" : "" }}>
                            <div class="indicator"></div>
                            <span class="label">Modelarstwo</span>
                        </label>
                        <label class="field field--checkbox">
                            <input name="interests[]" type="checkbox" value="Książka" {{ "Książka" in cb ? "checked" : "" }}>
                            <div class="indicator"></div>
                            <span class="label">Książka</span>
                        </label>
                        <label class="field field--checkbox">
                            <input name="interests[]" type="checkbox" value="Gry komputerowe" {{ "Gry komputerowe" in cb ? "checked" : "" }}>
                            <div class="indicator"></div>
                            <span class="label">Gry komputerowe</span>
                        </label>
                        <label class="field field--checkbox">
                            <input name="interests[]" type="checkbox" value="Akwarystyka" {{ "Akwarystyka" in cb ? "checked" : "" }}>
                            <div class="indicator"></div>
                            <span class="label">Akwarystyka</span>
                        </label>
                        <label class="field field--checkbox">
                            <input name="interests[]" type="checkbox" value="Szydełkowanie" {{ "Szydełkowanie" in cb ? "checked" : "" }}>
                            <div class="indicator"></div>
                            <span class="label">Szydełkowanie</span>
                        </label>
                        <label class="field field--checkbox">
                            <input name="interests[]" type="checkbox" value="Gotowanie" {{ "Gotowanie" in cb ? "checked" : "" }}>
                            <div class="indicator"></div>
                            <span class="label">Gotowanie</span>
                        </label>
                        <label class="field field--checkbox">
                            <input name="interests[]" type="checkbox" value="Sport" {{ "Sport" in cb ? "checked" : "" }}>
                            <div class="indicator"></div>
                            <span class="label">Sport</span>
                        </label>
                    </div>

                    <div class="actions">
                        <button class="btn btn--rounded btn--blue js-prev">< Wstecz</button>
                        <button type="submit" class="btn btn--rounded btn--blue">Zapisz</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}

