{% extends "pages/projectOne/form-base.html.twig" %}

{% block content %}
    <section class="section section--default">
    <div class="inner">
    {% set edu = ["podstawowe","średnie","wyższe"] %}
        <h2>Przesłane dane:</h2>
        <p><strong>Imię:</strong> {{data.name}}</p> 
        <p><strong>Nazwisko:</strong> {{data.surname}}</p> 
        <p><strong>E-mail:</strong> {{data.email}}</p> 
        <p><strong>Login:</strong> {{data.login}}</p> 
        <p><strong>Hasło:</strong> {{data.plainPassword}}</p> 
        <p><strong>Ulica:</strong> {{data.street}}</p> 
        <p><strong>Nr domu:</strong> {{data.houseNumber}}</p> 
        <p><strong>Nr mieszkania:</strong> {{data.apartmentNumber}}</p> 
        <p><strong>Miejscowość:</strong> {{data.city}}</p> 
        <p><strong>Wykształcenie:</strong> {{ edu[data.education]}}</p> 
        <p><strong>Zainteresowania:</strong> {{data.interests}}</p> 
        </div>
    </section>
{% endblock %}