.btn{
    position: relative;
    vertical-align: middle;
    display: inline-block;
    border: 0;
    cursor: pointer;
    background: none;

    font-size: 1.6rem;
    font-weight: 400;

    transition: all $transition_speed;

    &:disabled {
        opacity: .5;
        cursor: default;
        pointer-events: none;
    }

}

.btn--rounded{
    border-radius: 1rem;
    color:white;
    font-weight: 600;
    border:2px solid transparent;
    padding:1.5rem 2rem;
    min-width:20rem;
}

.btn--blue{
    background-color:$color_buttons;

    &:hover{
        color:$color_buttons;
        background-color:white;
        border-color: $color_buttons;
    }
}