.header{
    display:flex;
    width:100%;
    padding:3rem 0;
    align-items: center;
    background-color: $color_accent;
    color:white;

    h1{
        margin: 0;
        font-size: 4.5rem ;
        line-height: 1.2;
        font-weight: 900;

        @include media("<=m"){
            font-size: 3.6rem;
            text-align: center;
        }

        @include media("<=m-s"){
            font-size: 2.8rem;
        }
    }
}