fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

input,
textarea {
    display: block;
    width: 100%;
}

label {
    cursor: pointer;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
textarea {
    box-shadow: none;
    -webkit-appearance: none;

    resize: none;

    &:focus {
        outline: none;
    }

    &:invalid:required:focus {
        outline: 0 ;
    }
}

select {
    appearance: none;
}

select::-ms-expand {
    display: none;
}

*::-ms-clear {
    display: none;
}

::-webkit-input-placeholder {
    opacity: 1;
}

::-moz-placeholder {
    opacity: 1;
}

:-ms-input-placeholder {
    opacity: 1;
}

:-moz-placeholder {
    opacity: 1;
}
