.form{
    width:100%;

    &--register{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        max-width: 50%;
        border-radius: 2rem;
        box-shadow: 0 0 2rem rgba(0,0,0,0.1);
        padding: 3rem;
        overflow:hidden;

        @include media("<=l"){
            max-width: 60%;
        }

        @include media("<=t"){
            max-width: 75%;
        }

        @include media("<=t-s"){
            max-width: 100%;
        }

        .field-group, .field{
            position: relative;
            .label{
                display: block;
                font-weight: 600;
                .small{
                    vertical-align: center;
                    font-size: 0.8em;
                    font-weight: 300;
                    color:rgba(black,0.5);

                    &:before{
                        content:" "
                    }
                }
            }    

            .error-msg{
                position: absolute;
                visibility: hidden;
                opacity: 0;
                padding: 0.5em 1em;
                background: red;
                color: white;
                border-radius: 0.5rem;
                right: 0.5rem;
                top: 0;
                font-size: 1rem;
                font-weight:600;
                transition: opacity 0.3s,visibility 0.3s;
                &:after{
                    content:"";
                    position: absolute;
                    display: block;
                    width:0;
                    height: 0;
                    border:0.5em solid transparent;
                    border-top-color: red;
                    top:100%;
                    right:10%;
                }
            }

            &.is-error{
                .error-msg{
                    visibility: visible;
                    opacity: 1;
                }
            }
        }

        .field-group{
           
            &--100{
                width:100%;    
            }


            &--50{
                width:calc(50% - 3rem);    
                
                @include media("<=m"){
                    width: 100%;
                }
                
                + .field-group--50{
                    margin-left: 6rem;
                    @include media("<=m"){
                        margin-left: 0;
                    }
                }

            }
            

            &__title{
                display: block;
                position: relative;
                font-family: $font_headers;
                font-weight: 900;
                margin:3rem 0rem;
                padding-left:1.5rem;

                .small{
                    vertical-align: center;
                    font-size: 0.8em;
                    font-weight: 300;
                    color:rgba(black,0.5);
                }

                &:before{
                    content:'';
                    display: block;
                    position: absolute;
                    left:0;
                    width: 0.5rem;
                    height:1.4em;

                    margin-right: 1rem;
                    background-color: $color_accent;
                }
            }
        }

        .field{
            width:100%;
            margin:1rem 0;
        }

        .actions{
            display:flex;
            margin-top: 3rem;
            width:100%;
            .btn{
                width:100%;
                margin-right:2rem;
                &:only-child,&:last-child{
                    margin:0;
                }
            
            }
        }
        
    }
}


.field{
    display: block;
    
    &--default{
        .label{
            margin-bottom:1rem;
        }
        input{
            width:100%;
            padding:1.0rem 2rem;
            border-radius: 1rem;
            border:2px solid transparent;
            box-shadow: inset 0 0 1rem rgba(0,0,0,0.1);

            &:focus{
                border:2px solid $color_accent;
            }
        }


    }
    
    &--select{
        .label {
            margin-bottom: 1rem;
        }
        select{
            width:100%;
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
            padding:1.0rem 2rem;
            border-radius: 1rem;
            border:2px solid transparent;
            box-shadow: inset 0 0 1rem rgba(0,0,0,0.1);
            &:focus{
                border:2px solid $color_accent;
            }
        }
    }
    
    &--checkbox{
        position: relative;
        cursor: pointer;
        display: flex;
        align-items: center;
        padding-left: 3rem;
        input{
            position: absolute;
            width:1px;
            height:1px;
            visibility: hidden;

            &:checked + .indicator:after{
                display: block;
            }
            &:checked + .indicator{
                border:2px solid $color_accent;
            }
        }

        .indicator{
            position: absolute;
            top:0;
            left:0;
            width:2rem;
            height:2rem;
            border-radius: 0.5rem;
            box-shadow: inset 0 0 0.5rem rgba(0,0,0,0.15);
            &:after{
                position: absolute;
                top:50%;
                left:50%;
                content:'';
                display: none;
                width:1.0rem;
                height:0.6rem;
                border-left:3px solid $color_accent;
                border-bottom: 3px solid $color_accent;
                transform:translateX(-50%) translateY(-70%) rotate(-45deg) ;
            }
        }
    }
    
    &--radio{
    
    }
}
