<html lang="{{ app.request.locale }}">
    <head>
        <title>{% block title %}{{ title}}{% endblock %}</title>
        {% include 'head/head-meta.html.twig' %}
        {% include 'head/head-links.html.twig' %}
        {% block stylesheets %}
            
        {% endblock %}
    </head>
    <body class="{% block bodyClass %}{% endblock %}">
        <div class="page">
            {% include 'nav/nav.html.twig' %}
            {% block content %}
            {% endblock %}
        </div>
        {% block javascripts %}
            
        {% endblock %}
    </body>
    
</html>
