.inner{
    width:100%;
    max-width: calc(#{$size_inner} - 2 * #{$gutter});
    padding: 0 $gutter;
    margin-left: auto;
    margin-right: auto;

}

.section{
    width:100%;

    &--default{
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}