<header class="header">
    <div class="inner">
        <div class="logo logo--main"></div>
        <h1>{{ title }}</h1>
        {% if nav is defined %}
        <nav class="nav nav--main">
            {% for item in nav %}
                <a href="{{item.url}}">{{item.label}}</a>
            {% endfor %}
        </nav>
        {% endif %}
    </div>
</header>